	<div th:replace="header"></div>
	<meta charset="utf-8">
	<div class="breadcrumbs">
		<div class="col-sm-4">
			<div class="page-header float-left">
				<div class="page-title">
					<h1>Ajouter un Étudiant</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="page-header float-right">
				<div class="page-title">
					<ol class="breadcrumb text-right">
						<li class="active">Étudiants</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content mt-3 col-md-10"
		style="margin-left: 2%; margin-right: 3%;">
	
		<!--On cree un formulaire qui va renvoyer vers la methode Post du controllerEtudiant 
	     La methode va utiliser un obejt newEtudiant qu'on va utilisé th pour ça
	      c'est cet objet qu'on envoi depuis le controller  
	     Et lorsque le formulaire va enregistrer les infos  il va envoyer vers un url
	   qu'on indique par th:action et l'url qui sera mapper dans le controlller    -->
			<form method="post" th:object="${newEtudiant}"
				th:action="@{enregistrer-etudiant}">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Nom :</label> <input type="text" class="form-control"
							th:field="*{nom}" required>
							
					<!-- c'est pour une mise en forme 
					input c'est pour dire que c'est en champ de type text avec un classe pour bien ordoner boostrap
					th:field tu vas indiquer a thymeleaf ce champ de text conrespond à l'attribut nom	
					 -->
					</div>
					<div class="form-group col-md-6">
						<label>Prénom :</label> <input type="text" class="form-control"
							th:field="*{prenom}" required>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label>Adresse :</label> <input type="text" class="form-control"
						th:field="*{adresse}" required>
				</div>
				<div class="form-group col-md-4">
					<label>Ville :</label> <input type="text" class="form-control"
						th:field="*{ville}" required>
				</div>
				<div class="form-group col-md-2">
					<label>Code Postale :</label> <input type="text" class="form-control"
						th:field="*{codePostale}" required>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Email :</label> <input type="email" class="form-control"
							th:field="*{email}" required>
					</div>
					<div class="form-group col-md-6">
						<label>Telephone :</label> <input type="text" class="form-control"
							th:field="*{tel}" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Classe :</label> <select class="form-control"
							th:field="*{classe}" required>
							<option th:each="classe:${allClasses}"
								th:value="${classe.nomAvecNiveau}"
								th:text="${classe.nomAvecNiveau}"></option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label>Matricule :</label> <input type="text" class="form-control"
							th:field="*{matricule}" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Date de Naissance :</label> <input type="date"
							class="form-control" th:field="*{dateNaissance}" required>
					</div>
					<div class="form-group col-md-4">
						<label>Sexe :</label> <select class="form-control"
							th:field="*{sexe}" required>
							<option value="Homme">Homme</option>
							<option value="Femme">Femme</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label>Nationalité :</label> <input type="text" class="form-control"
						th:field="*{nationalite}" required>
				</div>
		
				<div class="form-group">
					<label>Scolarité Payee (En euro) :</label> <input type="number"
						class="form-control" th:field="*{totalMensualite}" required>
				</div>
		
				<button style="margin-bottom: 5%;" type="submit"
					class="btn btn-success">Enregistrer</button>
			</form>
	</div>
	<div th:replace="footer"></div>