	<div th:replace="header"></div>
	<meta charset="utf-8">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 p404 centered">
				<img src="images/500.png" alt="">
				<h1>ERROR 403</h1>
				<h3>Vous n'avez pas les accès pour cette Ressource !!!</h3>
				<br>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<a href="/home" class="btn btn-primary mt">Back Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer"></div>
