
<div th:replace="StartPage"></div>

<div class="breadcrumbs">
	<div class="col-sm-4">
		<div class="page-header float-left">
			<div class="page-title">
				<h1>Ajouter/Modifier un Utilisateur</h1>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="page-header float-right">
			<div class="page-title">
				<ol class="breadcrumb text-right">
					<li class="active">Utilisateurs</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="content mt-3 col-md-10" style="margin-left: 5%;">

	<form th:action="@{register}" method="post" th:object="${user}">
		<div class="form-group">
			<label>Enter username</label> <input type="text" class="form-control"
				th:field="*{username}">
		</div>
		<div class="form-group">
			<label>Enter password</label> <input type="password"
				class="form-control" th:field="*{password}">
		</div>
		<div class="form-group">
			<label>Role :</label> <select class="form-control"
				th:field="*{authority}">
				<option value="USER">USER</option>
				<option value="ADMIN">ADMIN</option>
			</select>
		</div>
		<button type="submit" class="btn btn-success">Enregistrer</button>
	</form>


</div>
<!-- .content -->

<div th:replace="EndPage"></div>