	<div th:replace="header"></div>
	<meta charset="utf-8">
	<div class="breadcrumbs">
		<div class="col-sm-4">
			<div class="page-header float-left">
				<div class="page-title">
					<h1>Modifier une Filière</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="page-header float-right">
				<div class="page-title">
					<ol class="breadcrumb text-right">
						<li class="active">Filière</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content mt-3 col-md-10" style="margin-left: 5%;">
	
		<form method="post" th:object="${newFiliere}"
			th:action="@{update-filiere(id=${newFiliere.id})}">
			<div class="form-group">
				<label>Nom</label> <input type="text" class="form-control"
					th:field="*{nom}" required>
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" rows="2" th:field="*{description}" required></textarea>
			</div>
			<button type="submit" class="btn btn-success">Mise à Jour</button>
		</form>
	</div>
	<div th:replace="footer"></div>