		<!doctype html>
		<html class="no-js" lang="en">
		<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Gestion des Étudiants</title>
		<meta name="description" content="Sufee Admin - HTML5 Admin Template">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="apple-touch-icon" href="apple-icon.png">
		<link rel="shortcut icon" href="favicon.ico">
		
		<link rel="stylesheet"
			href="vendors/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet"
			href="vendors/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet"
			href="vendors/themify-icons/css/themify-icons.css">
		<link rel="stylesheet"
			href="vendors/flag-icon-css/css/flag-icon.min.css">
		<link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">
		<link rel="stylesheet" href="vendors/jqvmap/dist/jqvmap.min.css">
		
		<link rel="stylesheet"
			href="vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet"
			href="vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
		
		
		<link rel="stylesheet" href="assets/css/style.css">
		
		<link
			href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
			rel='stylesheet' type='text/css'>
		
		</head>
		
		<body>
		
			<aside id="left-panel" class="left-panel">
				<nav class="navbar navbar-expand-sm navbar-default">
		
					<div class="navbar-header">
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#main-menu" aria-controls="main-menu"
							aria-expanded="false" aria-label="Toggle navigation">
							<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" href="./">Gestion des Étudiants</a> <a
							class="navbar-brand hidden" href="./"><img
							src="images/logo2.png" alt="Logo"></a>
					</div>
		
					<div id="main-menu" class="main-menu collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="home"> <i
									class="menu-icon fa fa-dashboard"></i>Home
							</a></li>
							<h3 class="menu-title">Menu des Filières</h3>
							<!-- /.menu-title -->
							<li><a href="ajouter-filiere"> <i
									class="menu-icon fa fa-laptop"></i>Ajouter Filière
							</a></li>
							<li><a href="liste-filiere"> <i
									class="menu-icon fa fa-table"></i>Liste des Filières
							</a></li>
							<!-------------------------------------------------->
							<h3 class="menu-title">Menu des Classes</h3>
							<!-- /.menu-title -->
							<li><a href="ajouter-classe"> <i
									class="menu-icon fa fa-laptop"></i>Ajouter Classe
							</a></li>
							<li><a href="liste-classe"> <i
									class="menu-icon fa fa-table"></i>Liste des Classes
							</a></li>
							
							<h3 class="menu-title">Menu des Étudiants</h3>
												<li><a href="ajouter-etudiant"> <i
									class="menu-icon fa fa-user"></i>Ajouter un Etudiant
							</a></li>
		
							<li><a href="liste-etudiant"> <i
									class="menu-icon fa fa-users"></i>Liste des Etudiants
							</a></li>
		
							<h3 class="menu-title">Mon Compte</h3>
							<li class="menu-item-has-children dropdown"><a href="#"
								class="dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <i
									class="menu-icon fa fa-glass"></i>Utilisateurs
							</a>
								<ul class="sub-menu children dropdown-menu">
									<li><i class="menu-icon fa fa-sign-in"></i><a
										th:href="@{users}">Liste des Utilisateurs</a></li>
									<li><i class="menu-icon fa fa-sign-in"></i><a
										th:href="@{register}">Ajouter un utilisateur</a></li>
								</ul></li>
							<li><a th:href="@{logout}"> <i
									class="menu-icon fa fa-sign-out"></i>Déconnexion
							</a></li>
						</ul>
					</div>
				</nav>
			</aside>
				<div id="right-panel" class="right-panel">
				<header class="header black-bg">
					<div class="top-menu">
						<ul class="nav pull-right top-menu">
							<li><a class="menu-icon fa fa-sign-out btn btn-primary"
								style="margin-right: 20px;" th:href="@{logout}">Déconnexion</a></li>
						</ul>
					</div>
				</header>